body {
    font-family: 'Roboto', sans-serif;
    padding: 10;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
}

h1 {
    color: #B8FFD4;
    font-size: 3.8rem;
}

h2 { 
    color: whitesmoke;
    font-weight: normal;
}

.function {
    font-weight: 600;
    color: 	#FFE4C4;
}

.word{
    font-weight: 800;
    font-size: 2rem;
    color: #FF5E5F
}

.arrow {
    font-size: 2rem;
    color: whitesmoke;
}

.score-board {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.score-board > div{
    display: flex;
    padding: 25px;
    border-radius: 15px;
    background-color: #76ABDF
}

.game-log{
    margin-top: 30px;
    padding: 10px 30px;
    background-color: #fb6666;
    border-radius: 15px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-text {
    color: whitesmoke;
    font-weight: 500;
}

.endState {
    transform: scale(3);
    color: burlywood
}